In [1]:
#!pip install pycm

In [2]:
import pandas as pd
from pycm import *

In [5]:
datasets = !ls ../datasets

In [6]:
datasets

['10DBpedia_interlinking_GS.csv',
 '10DBpedia_interlinking_MTurk.csv',
 '11DBpedia_objects_GS.csv',
 '11DBpedia_objects_MTurk.csv',
 '1Fashion_GS.csv',
 '2SentimentPopularity_GS.csv',
 '3WeatherSentiment_amt_GS.csv',
 '4QueryDocRelevance_GS.csv',
 '5Wiki-gender-image-categorization-DFE_GS.csv',
 '6claritin_october_twitter_side_effects-1_GS.csv',
 '7Company-Categorization-DFE_GS.csv',
 '8Hate-speech-identification_GS.csv',
 '9DBpedia_datatypes_GS.csv',
 '9DBpedia_datatypes_MTurk.csv',
 'journal_GT_datatypes.xlsx']

In [7]:
#pd.read_csv(datasets[3])
Fashion_GS = pd.read_csv('../datasets/1Fashion_GS.csv', encoding='Latin-1')

In [8]:
Fashion_GS = Fashion_GS[~Fashion_GS.isnull()]

In [9]:
Fashion_GS.head()
#slection of Answer.numpeople1	 column as a worker answer
# approved can work as a percentage of accuracy

,HITId,AssignmentId,WorkerIndex,AssignmentStatus,LifetimeApprovalRate,Input.Category,Answer.ID,Answer.numpeople1,Answer.prof1,Answer.related1
0,2BUF806UFBNFSU6QHDU9BSW83V41F0,2NUAC9KSSZVXX1G01SLKWOYKLOSK2V,1,Approved,94% (100/106),Surtout,3362,nopeople,no,No
1,2BUF806UFBNFSU6QHDU9BSW83V41F0,2TS11K274J79KPM2X6E4CUXJAJMDFH,2,Approved,100% (48/48),Surtout,3362,nopeople,notapp,No
2,2BUF806UFBNFSU6QHDU9BSW83V41F0,2YM3K4F0OHOVR0UETIF2R92LCIR128,3,Approved,71% (5/7),Surtout,3362,nopeople,no,No
3,2I3Y58B727M0IF5GDBS64FSXVJZAVM,2PKVGULF395SW5DCXDJ3TYNN94SPBK,1,Approved,94% (100/106),Morning coat,2274,nopeople,no,No
4,2I3Y58B727M0IF5GDBS64FSXVJZAVM,2S0IUB2YU98JHRJH71C0LBJDGTAL9S,4,Approved,98% (47/48),Morning coat,2274,nopeople,notapp,No

In [10]:
#Fashion_GS#['Answer.numpeople1'].unique()

In [11]:
grouped = Fashion_GS.groupby('AssignmentStatus').count()['HITId']

In [12]:
acc1 = grouped.loc['Approved'] / grouped.sum()

In [13]:
print(acc1)

0.9423886821768819

## Sentiment popularity

In [14]:
SentimentPopularity_GS = pd.read_csv('../datasets/2SentimentPopularity_GS.csv', encoding='Latin-1')

In [15]:
SentimentPopularity_GS.head()

        worker ID  task ID  Worker label  Gold label  Time in seconds
0  A1LZWU72K42V92       23             0           1              298
1   ASS4LIVDW452F       23             1           1                6
2  A2QAIIROYI52KO       23             1           1               96
3  A3PRX6CU0P34NE       23             1           1              175
4   A9KPCMO1J1LQF       23             1           1                7

In [16]:
cm = ConfusionMatrix(actual_vector=list(SentimentPopularity_GS['Gold label']),
                     predict_vector=list(SentimentPopularity_GS['Worker label'])) #.values()

In [17]:
cm.classes

[0, 1]

In [18]:
cm.table

{0: {0: 4412, 1: 488}, 1: {0: 577, 1: 4523}}

In [19]:
acc2 = cm.Overall_ACC

In [20]:
print(acc2)

0.8935

## 'Weather Sentiment'

In [21]:
WeatherSentiment_amt_GS = pd.read_csv('../datasets/3WeatherSentiment_amt_GS.csv', encoding='Latin-1')

In [22]:
WeatherSentiment_amt_GS.head()

        Worker ID   Task ID  Worker label  Gold label  Time in seconds
0  A2N7I0331X72Z7  81991168             0           0               14
1   A4T1X0PO5N1G9  81991168             0           0                5
2  A1R0689JPSQ3OF  81991168             0           0               19
3  A3F7TD3W9043EO  81991168             1           0                8
4  A1IWCAELIKUG2S  81991168             0           0                5

In [52]:
cm = ConfusionMatrix(actual_vector=list(WeatherSentiment_amt_GS['Gold label']),
                     predict_vector=list(WeatherSentiment_amt_GS['Worker label'])) #.values()

In [53]:
cm.classes

[0, 1, 2, 3, 4]

In [54]:
cm.table

{0: {0: 843, 1: 133, 2: 92, 3: 26, 4: 46},
 1: {0: 119, 1: 964, 2: 170, 3: 58, 4: 89},
 2: {0: 47, 1: 87, 2: 1226, 3: 55, 4: 25},
 3: {0: 118, 1: 285, 2: 172, 3: 1166, 4: 99},
 4: {0: 36, 1: 55, 2: 55, 3: 9, 4: 25}}

In [55]:
acc3 = cm.Overall_ACC

In [56]:
print(acc3)

0.704

## Query Doc Relevance

In [28]:
QueryDocRelevance_GS = pd.read_csv('../datasets/4QueryDocRelevance_GS.csv', encoding='Latin-1')

In [29]:
QueryDocRelevance_GS[' gold '].unique()

array([-1,  2, -2,  0,  1])

In [30]:
QueryDocRelevance_GS.columns

Index(['topicID ', ' workerID ', ' docID ', ' gold ', ' label'], dtype='object')

In [31]:
QueryDocRelevance_GS[' label'].unique()

array([ 0,  2,  1, -2])

In [32]:
QueryDocRelevance_GS.head()

   topicID   workerID                        docID    gold    label
0     20002        w1    clueweb09-en0000-66-24091       -1       0
1     20002        w1    clueweb09-en0001-31-15410       -1       0
2     20002        w1    clueweb09-en0000-05-22942       -1       0
3     20002        w1    clueweb09-en0000-05-22943       -1       0
4     20002        w1    clueweb09-en0006-85-33191        2       2

In [33]:
"""
Judgment categories:

2: highly relevant
1: relevant
0: non-relevant
-1: unknown (no gold label)
-2: broken link
"""

'\nJudgment categories:\n\n2: highly relevant\n1: relevant\n0: non-relevant\n-1: unknown (no gold label)\n-2: broken link\n'

In [34]:
QueryDocRelevance_GS1 = QueryDocRelevance_GS[(QueryDocRelevance_GS[' label'] == 1) |
                     (QueryDocRelevance_GS[' label'] == 2) |
                    (QueryDocRelevance_GS[' label'] == 0)]

In [37]:
QueryDocRelevance_GS2 = QueryDocRelevance_GS1[~QueryDocRelevance_GS1[' gold ']== -1 ]

In [38]:
len(QueryDocRelevance_GS2)

8767

In [57]:
cm = ConfusionMatrix(actual_vector=list(QueryDocRelevance_GS2[' gold ']),
                     predict_vector=list(QueryDocRelevance_GS2[' label'])) #.values()

In [58]:
cm.classes

[0, 1, 2]

In [59]:
cm.table

{0: {0: 3578, 1: 3278, 2: 1911}, 1: {0: 0, 1: 0, 2: 0}, 2: {0: 0, 1: 0, 2: 0}}

In [60]:
acc4 = cm.Overall_ACC

In [61]:
print(acc4)

0.40812136420668416

## Wiki gender image categorization

In [62]:
Wiki_gende = pd.read_csv('../datasets/5Wiki-gender-image-categorization-DFE_GS.csv', encoding='Latin-1')

In [63]:
Wiki_gende.head()

,_unit_id,_golden,_unit_state,_trusted_judgments,no_of_persons,no_of_persons:confidence,no_of_persons_gold
0,721195362,True,golden,107,One Person,1.0000,One Person
1,721195363,True,golden,97,One Person,1.0000,One Person
2,721195364,True,golden,92,One Person,1.0000,One Person
3,721195365,True,golden,82,One Person,0.7175,"One Person\rSeveral Persons, *but one* person'..."
4,721195467,True,golden,93,One Person,1.0000,One Person

In [64]:
Wiki_gende.columns

Index(['_unit_id', '_golden', '_unit_state', '_trusted_judgments',
       'no_of_persons', 'no_of_persons:confidence', 'no_of_persons_gold'],
      dtype='object')

In [65]:
len(Wiki_gende)

984

In [66]:
acc5 = Wiki_gende['no_of_persons:confidence'].mean()

In [67]:
print(acc5)

0.8969602642276423

## claritin_october_twitter_side_effects

In [68]:
twitter = pd.read_csv('../datasets/6claritin_october_twitter_side_effects-1_GS.csv', encoding='Latin-1')

gold standard column

In [69]:
twitter.gender.unique()

array(['female', 'bad_link_or_company', 'unknown', nan, 'male'],
      dtype=object)

worker answer

In [70]:
twitter.groupby('gender').count()['relevant'] / 4900

gender
bad_link_or_company    0.055714
female                 0.521429
male                   0.317551
unknown                0.056939
Name: relevant, dtype: float64

gold

https://www.figure-eight.com/discovering-drug-side-effects-with-crowdsourcing/

In [71]:
label = []
for i in twitter['gender']:
    if (i == 'female') | (i == 'male'):
        label.append('yes')
    else:
        label.append('no')
twitter['label'] = label

In [72]:
len(twitter)

4900

In [73]:
twitter1 = twitter[twitter['relevant'] != 'non_english']

In [74]:
twitter1.head()

                     interaction.id relevant               gender label
0  1e216d4078b8ac80e074b6aefd0b8ecc      yes               female   yes
1  1e21bdba2f09a600e07449388a202dd0      yes               female   yes
2  1e21e6045b94a680e074cc3af1e9826c      yes               female   yes
3  1e21ae673139a680e074c613e3dc017a      yes  bad_link_or_company    no
4  1e218d1b517baf00e0740caa3005b42c      yes              unknown    no

In [75]:
cm = ConfusionMatrix(actual_vector=list(twitter1['relevant']),
                     predict_vector=list(twitter1['label'])) #.values()

In [76]:
cm.classes

['no', 'yes']

In [77]:
cm.table

{'no': {'no': 12, 'yes': 0}, 'yes': {'no': 552, 'yes': 4111}}

In [78]:
acc6 = cm.Overall_ACC

In [79]:
print(acc6)

0.8819251336898396

## Company-Categorization

In [80]:
CompanyC = pd.read_csv('../datasets/7Company-Categorization-DFE_GS.csv', encoding='Latin-1')

In [81]:
CompanyC.columns

Index(['_unit_id', '_golden', 'business_category',
       'business_category:confidence', 'business_category_gold'],
      dtype='object')

In [82]:
CompanyC.head()

,_unit_id,_golden,business_category,business_category:confidence,business_category_gold
0,474823173,False,Financial Services,1.0000,NaN
1,474823174,False,Financial Services,0.3510,NaN
2,474823175,False,Other,1.0000,NaN
3,474823176,False,Retail,0.6852,NaN
4,474823177,False,Other,0.6738,NaN

In [83]:
len(CompanyC)

7335

In [84]:
acc7 = CompanyC['business_category:confidence'].mean()

In [85]:
print(acc7)

0.8187101431492843

## Hate speech identification

In [86]:
hate_speech = pd.read_csv('../datasets/8Hate-speech-identification_GS.csv', encoding='Latin-1')

In [87]:
hate_speech['_golden'].unique()

array([False,  True])

In [88]:
hate_speech.columns

Index(['_unit_id', '_golden', 'emotion', 'emotion:confidence', 'emotion_gold'], dtype='object')

In [89]:
len(hate_speech)

2524

In [90]:
hate_speech.head(10)

    _unit_id  _golden   emotion  emotion:confidence emotion_gold
0  731671736    False   Neutral              0.3333          NaN
1  731671737    False   Neutral              0.3885          NaN
2  731671738    False   Neutral              0.3333          NaN
3  731671739    False   Neutral              0.3690          NaN
4  731671740    False   Neutral              0.5572          NaN
5  731671741    False     Anger              0.6250          NaN
6  731671742    False   Neutral              0.3358          NaN
7  731671743    False   Neutral              0.3571          NaN
8  731671744    False  Optimism              0.6115          NaN
9  731671745    False   Neutral              0.2083          NaN

In [91]:
hate_speech1 = hate_speech[hate_speech['_golden'] == True]

In [92]:
len(hate_speech1)

54

In [93]:
acc8 = hate_speech1['emotion:confidence'].mean()

In [94]:
print(acc8)

0.5637814814814814

## '10DBpedia_interlinking_GS.csv'

In [107]:
DBpedia_interlinking_GS = pd.read_csv('10DBpedia_interlinking_GS.csv', encoding='Latin-1')

In [108]:
DBpedia_interlinking_GS.head()

,subject (label),predicate,object,gold_standard
0,Royal Penguin,http://www.w3.org/2002/07/owl#sameAs,http://rdf.freebase.com/ns/m/034zxc,"""correct"""
1,Mike Small (golfer),http://www.w3.org/2002/07/owl#sameAs,http://rdf.freebase.com/ns/m/02x2wcl,"""correct"""
2,Prilep-Bitola dialect,http://dbpedia.org/ontology/thumbnail,http://upload.wikimedia.org/wikipedia/commons/...,"""correct"""
3,Ferrari Mythos,http://dbpedia.org/ontology/wikiPageExternalLink,http://www.histomobile.com/1/Ferrari/1989/Myth...,"""correct"""
4,Guy's Hospital,http://www.w3.org/2002/07/owl#sameAs,http://rdf.freebase.com/ns/m/02c3rj,"""correct"""

In [111]:
DBpedia_interlinking_GS['unique'] = DBpedia_interlinking_GS['subject (label)'] + DBpedia_interlinking_GS.predicate

In [113]:
#DBpedia_interlinking_GS.groupby('unique').count()

In [114]:
len(DBpedia_interlinking_GS.unique.unique())

210

In [115]:
DBpedia_interlinking_MTurk = pd.read_csv('10DBpedia_interlinking_MTurk.csv', encoding='Latin-1')

worker answer is first_answer

In [116]:
DBpedia_interlinking_MTurk.head()

,subject_label,predicate,object,first_answer,majority_voting
0,'(6046) 1991 RF14','http://www.w3.org/2002/07/owl#sameAs','http://rdf.freebase.com/ns/m/0by01ry',"""no sense""","""correct"""
1,'2001 Humanitarian Bowl','http://www.w3.org/2002/07/owl#sameAs','http://rdf.freebase.com/ns/m/046530z',"""correct""","""correct"""
2,'593rd Sustainment Brigade (United States)','http://www.w3.org/2002/07/owl#sameAs','http://rdf.freebase.com/ns/m/03gvb39',"""no sense""","""correct"""
3,'A++','http://dbpedia.org/ontology/influencedBy','http://dbpedia.org/resource/Ramy_Haddad',"""incorrect""","""incorrect"""
4,'A21 road (England)','http://dbpedia.org/ontology/wikiPageExternalL...,'http://www.cbrd.co.uk/badjunctions/21-25-26.s...,"""incorrect""","""incorrect"""

In [119]:
DBpedia_interlinking_MTurk['unique'] = DBpedia_interlinking_MTurk.subject_label + DBpedia_interlinking_MTurk.predicate

In [120]:
len(DBpedia_interlinking_MTurk.unique.unique())

209

In [124]:
pd.merge(DBpedia_interlinking_GS, DBpedia_interlinking_MTurk, how='left', on='unique').head()

,subject (label),predicate_x,object_x,gold_standard,unique,subject_label,predicate_y,object_y,first_answer,majority_voting
0,Royal Penguin,http://www.w3.org/2002/07/owl#sameAs,http://rdf.freebase.com/ns/m/034zxc,"""correct""",Royal Penguinhttp://www.w3.org/2002/07/owl#sameAs,NaN,NaN,NaN,NaN,NaN
1,Mike Small (golfer),http://www.w3.org/2002/07/owl#sameAs,http://rdf.freebase.com/ns/m/02x2wcl,"""correct""",Mike Small (golfer)http://www.w3.org/2002/07/o...,NaN,NaN,NaN,NaN,NaN
2,Prilep-Bitola dialect,http://dbpedia.org/ontology/thumbnail,http://upload.wikimedia.org/wikipedia/commons/...,"""correct""",Prilep-Bitola dialecthttp://dbpedia.org/ontolo...,NaN,NaN,NaN,NaN,NaN
3,Ferrari Mythos,http://dbpedia.org/ontology/wikiPageExternalLink,http://www.histomobile.com/1/Ferrari/1989/Myth...,"""correct""",Ferrari Mythoshttp://dbpedia.org/ontology/wiki...,NaN,NaN,NaN,NaN,NaN
4,Guy's Hospital,http://www.w3.org/2002/07/owl#sameAs,http://rdf.freebase.com/ns/m/02c3rj,"""correct""",Guy's Hospitalhttp://www.w3.org/2002/07/owl#sa...,NaN,NaN,NaN,NaN,NaN

## 'DBpedia interlinking

In [1]:
#DBpedia_objects_GS = 
#pd.read_csv('11DBpedia_objects_GS.csv')#, encoding='Latin-1')

Gathering accuracies
---

In [101]:
acc = pd.Series([acc1, acc2, acc3, acc4, acc5, acc6, acc7, acc8])

In [103]:
acc.describe()

count    8.000000
mean     0.763673
std      0.190303
min      0.408121
25%      0.668945
50%      0.850318
75%      0.894365
max      0.942389
dtype: float64