## Gold Standard Datasets

In [1]:
import pandas as pd
from pycm import *

In [2]:
datasets = !ls ../datasets

In [3]:
datasets

['10DBpedia_interlinking_GS.csv',
 '10DBpedia_interlinking_MTurk.csv',
 '11DBpedia_objects_GS.csv',
 '11DBpedia_objects_MTurk.csv',
 '1Fashion_GS.csv',
 '2SentimentPopularity_GS.csv',
 '3WeatherSentiment_amt_GS.csv',
 '4QueryDocRelevance_GS.csv',
 '5Wiki-gender-image-categorization-DFE_GS.csv',
 '6claritin_october_twitter_side_effects-1_GS.csv',
 '7Company-Categorization-DFE_GS.csv',
 '8Hate-speech-identification_GS.csv',
 '9DBpedia_datatypes_GS.csv',
 '9DBpedia_datatypes_MTurk.csv',
 'datatypes.xlsx',
 'journal_GT_datatypes.xlsx']

## Fashion 10000: An Enriched Social Image Dataset for Fashion and Clothing

In [4]:
#pd.read_csv(datasets[3])
Fashion_GS = pd.read_csv('../datasets/1Fashion_GS.csv', encoding='Latin-1')

In [5]:
Fashion_GS = Fashion_GS[~Fashion_GS.isnull()]

In [6]:
Fashion_GS.head()
#slection of Answer.numpeople1	 column as a worker answer
# approved can work as a percentage of accuracy

,HITId,AssignmentId,WorkerIndex,AssignmentStatus,LifetimeApprovalRate,Input.Category,Answer.ID,Answer.numpeople1,Answer.prof1,Answer.related1
0,2BUF806UFBNFSU6QHDU9BSW83V41F0,2NUAC9KSSZVXX1G01SLKWOYKLOSK2V,1,Approved,94% (100/106),Surtout,3362,nopeople,no,No
1,2BUF806UFBNFSU6QHDU9BSW83V41F0,2TS11K274J79KPM2X6E4CUXJAJMDFH,2,Approved,100% (48/48),Surtout,3362,nopeople,notapp,No
2,2BUF806UFBNFSU6QHDU9BSW83V41F0,2YM3K4F0OHOVR0UETIF2R92LCIR128,3,Approved,71% (5/7),Surtout,3362,nopeople,no,No
3,2I3Y58B727M0IF5GDBS64FSXVJZAVM,2PKVGULF395SW5DCXDJ3TYNN94SPBK,1,Approved,94% (100/106),Morning coat,2274,nopeople,no,No
4,2I3Y58B727M0IF5GDBS64FSXVJZAVM,2S0IUB2YU98JHRJH71C0LBJDGTAL9S,4,Approved,98% (47/48),Morning coat,2274,nopeople,notapp,No

In [7]:
#Fashion_GS#['Answer.numpeople1'].unique()

In [8]:
grouped = Fashion_GS.groupby('AssignmentStatus').count()['HITId']

In [9]:
acc1 = grouped.loc['Approved'] / grouped.sum()

In [10]:
print('Accuracy :{}'.format(round(acc1,3)))

Accuracy :0.942

## Sentiment popularity

In [11]:
SentimentPopularity_GS = pd.read_csv('../datasets/2SentimentPopularity_GS.csv', encoding='Latin-1')

In [12]:
SentimentPopularity_GS.head()

        worker ID  task ID  Worker label  Gold label  Time in seconds
0  A1LZWU72K42V92       23             0           1              298
1   ASS4LIVDW452F       23             1           1                6
2  A2QAIIROYI52KO       23             1           1               96
3  A3PRX6CU0P34NE       23             1           1              175
4   A9KPCMO1J1LQF       23             1           1                7

In [13]:
cm = ConfusionMatrix(actual_vector=list(SentimentPopularity_GS['Gold label']),
                     predict_vector=list(SentimentPopularity_GS['Worker label'])) #.values()

In [14]:
cm.classes

[0, 1]

In [15]:
cm.table

{0: {0: 4412, 1: 488}, 1: {0: 577, 1: 4523}}

In [16]:
acc2 = cm.Overall_ACC

In [17]:
print('Accuracy :{}'.format(round(acc2,3)))

Accuracy :0.893

## Weather Sentiment

In [18]:
WeatherSentiment_amt_GS = pd.read_csv('../datasets/3WeatherSentiment_amt_GS.csv', encoding='Latin-1')

In [19]:
WeatherSentiment_amt_GS.head()

        Worker ID   Task ID  Worker label  Gold label  Time in seconds
0  A2N7I0331X72Z7  81991168             0           0               14
1   A4T1X0PO5N1G9  81991168             0           0                5
2  A1R0689JPSQ3OF  81991168             0           0               19
3  A3F7TD3W9043EO  81991168             1           0                8
4  A1IWCAELIKUG2S  81991168             0           0                5

In [20]:
cm = ConfusionMatrix(actual_vector=list(WeatherSentiment_amt_GS['Gold label']),
                     predict_vector=list(WeatherSentiment_amt_GS['Worker label'])) #.values()

In [21]:
cm.classes

[0, 1, 2, 3, 4]

In [22]:
cm.table

{0: {0: 843, 1: 133, 2: 92, 3: 26, 4: 46},
 1: {0: 119, 1: 964, 2: 170, 3: 58, 4: 89},
 2: {0: 47, 1: 87, 2: 1226, 3: 55, 4: 25},
 3: {0: 118, 1: 285, 2: 172, 3: 1166, 4: 99},
 4: {0: 36, 1: 55, 2: 55, 3: 9, 4: 25}}

In [23]:
acc3 = cm.Overall_ACC

In [24]:
print('Accuracy :{}'.format(round(acc3,3)))

Accuracy :0.704

## Query Document Relevance

In [25]:
QueryDocRelevance_GS = pd.read_csv('../datasets/4QueryDocRelevance_GS.csv', encoding='Latin-1')

In [26]:
QueryDocRelevance_GS[' gold '].unique()

array([-1,  2, -2,  0,  1])

In [27]:
QueryDocRelevance_GS.columns

Index(['topicID ', ' workerID ', ' docID ', ' gold ', ' label'], dtype='object')

In [28]:
QueryDocRelevance_GS[' label'].unique()

array([ 0,  2,  1, -2])

In [29]:
QueryDocRelevance_GS.head()

   topicID   workerID                        docID    gold    label
0     20002        w1    clueweb09-en0000-66-24091       -1       0
1     20002        w1    clueweb09-en0001-31-15410       -1       0
2     20002        w1    clueweb09-en0000-05-22942       -1       0
3     20002        w1    clueweb09-en0000-05-22943       -1       0
4     20002        w1    clueweb09-en0006-85-33191        2       2

In [30]:
"""
Judgment categories:

2: highly relevant
1: relevant
0: non-relevant
-1: unknown (no gold label)
-2: broken link
"""

'\nJudgment categories:\n\n2: highly relevant\n1: relevant\n0: non-relevant\n-1: unknown (no gold label)\n-2: broken link\n'

In [31]:
QueryDocRelevance_GS1 = QueryDocRelevance_GS[(QueryDocRelevance_GS[' label'] == 1) |
                     (QueryDocRelevance_GS[' label'] == 2) |
                    (QueryDocRelevance_GS[' label'] == 0)]

In [32]:
QueryDocRelevance_GS2 = QueryDocRelevance_GS1[~QueryDocRelevance_GS1[' gold ']== -1 ]

In [33]:
len(QueryDocRelevance_GS2)

8767

In [34]:
cm = ConfusionMatrix(actual_vector=list(QueryDocRelevance_GS2[' gold ']),
                     predict_vector=list(QueryDocRelevance_GS2[' label'])) #.values()

In [35]:
cm.classes

[0, 1, 2]

In [36]:
cm.table

{0: {0: 3578, 1: 3278, 2: 1911}, 1: {0: 0, 1: 0, 2: 0}, 2: {0: 0, 1: 0, 2: 0}}

In [37]:
acc4 = cm.Overall_ACC

In [38]:
print('Accuracy :{}'.format(round(acc4,3)))

Accuracy :0.408

## Wikipedia image categorization

In [39]:
Wiki_gende = pd.read_csv('../datasets/5Wiki-gender-image-categorization-DFE_GS.csv', encoding='Latin-1')

In [40]:
Wiki_gende.head()

,_unit_id,_golden,_unit_state,_trusted_judgments,no_of_persons,no_of_persons:confidence,no_of_persons_gold
0,721195362,True,golden,107,One Person,1.0000,One Person
1,721195363,True,golden,97,One Person,1.0000,One Person
2,721195364,True,golden,92,One Person,1.0000,One Person
3,721195365,True,golden,82,One Person,0.7175,"One Person\rSeveral Persons, *but one* person'..."
4,721195467,True,golden,93,One Person,1.0000,One Person

In [41]:
Wiki_gende.columns

Index(['_unit_id', '_golden', '_unit_state', '_trusted_judgments',
       'no_of_persons', 'no_of_persons:confidence', 'no_of_persons_gold'],
      dtype='object')

In [42]:
len(Wiki_gende)

984

In [43]:
acc5 = Wiki_gende['no_of_persons:confidence'].mean()

In [44]:
print('Accuracy :{}'.format(round(acc5,3)))

Accuracy :0.897

## Claritin Twitter

In [45]:
twitter = pd.read_csv('../datasets/6claritin_october_twitter_side_effects-1_GS.csv', encoding='Latin-1')

gold standard column

In [46]:
twitter.gender.unique()

array(['female', 'bad_link_or_company', 'unknown', nan, 'male'],
      dtype=object)

worker answer

In [47]:
twitter.groupby('gender').count()['relevant'] / 4900

gender
bad_link_or_company    0.055714
female                 0.521429
male                   0.317551
unknown                0.056939
Name: relevant, dtype: float64

gold

In [48]:
label = []
for i in twitter['gender']:
    if (i == 'female') | (i == 'male'):
        label.append('yes')
    else:
        label.append('no')
twitter['label'] = label

In [49]:
len(twitter)

4900

In [50]:
twitter1 = twitter[twitter['relevant'] != 'non_english']

In [51]:
twitter1.head()

                     interaction.id relevant               gender label
0  1e216d4078b8ac80e074b6aefd0b8ecc      yes               female   yes
1  1e21bdba2f09a600e07449388a202dd0      yes               female   yes
2  1e21e6045b94a680e074cc3af1e9826c      yes               female   yes
3  1e21ae673139a680e074c613e3dc017a      yes  bad_link_or_company    no
4  1e218d1b517baf00e0740caa3005b42c      yes              unknown    no

In [52]:
len(twitter1)

4675

In [53]:
#twitter1

In [54]:
cm = ConfusionMatrix(actual_vector=list(twitter1['relevant']),
                     predict_vector=list(twitter1['label'])) #.values()

In [55]:
cm.classes

['no', 'yes']

In [56]:
cm.table

{'no': {'no': 12, 'yes': 0}, 'yes': {'no': 552, 'yes': 4111}}

In [57]:
acc6 = cm.Overall_ACC

In [58]:
print('Accuracy :{}'.format(round(acc6,3)))

Accuracy :0.882

## Company categorizations (with URLs)

In [59]:
CompanyC = pd.read_csv('../datasets/7Company-Categorization-DFE_GS.csv', encoding='Latin-1')

In [60]:
CompanyC.columns

Index(['_unit_id', '_golden', 'business_category',
       'business_category:confidence', 'business_category_gold'],
      dtype='object')

In [61]:
CompanyC.head()

,_unit_id,_golden,business_category,business_category:confidence,business_category_gold
0,474823173,False,Financial Services,1.0000,NaN
1,474823174,False,Financial Services,0.3510,NaN
2,474823175,False,Other,1.0000,NaN
3,474823176,False,Retail,0.6852,NaN
4,474823177,False,Other,0.6738,NaN

In [62]:
len(CompanyC)

7335

In [63]:
acc7 = CompanyC['business_category:confidence'].mean()

In [64]:
print('Accuracy :{}'.format(round(acc7,3)))

Accuracy :0.819

## Hate speech identification

In [65]:
hate_speech = pd.read_csv('../datasets/8Hate-speech-identification_GS.csv', encoding='Latin-1')

In [66]:
hate_speech['_golden'].unique()

array([False,  True])

In [67]:
hate_speech.columns

Index(['_unit_id', '_golden', 'emotion', 'emotion:confidence', 'emotion_gold'], dtype='object')

In [68]:
len(hate_speech)

2524

In [69]:
hate_speech.head(10)

    _unit_id  _golden   emotion  emotion:confidence emotion_gold
0  731671736    False   Neutral              0.3333          NaN
1  731671737    False   Neutral              0.3885          NaN
2  731671738    False   Neutral              0.3333          NaN
3  731671739    False   Neutral              0.3690          NaN
4  731671740    False   Neutral              0.5572          NaN
5  731671741    False     Anger              0.6250          NaN
6  731671742    False   Neutral              0.3358          NaN
7  731671743    False   Neutral              0.3571          NaN
8  731671744    False  Optimism              0.6115          NaN
9  731671745    False   Neutral              0.2083          NaN

In [70]:
hate_speech1 = hate_speech[hate_speech['_golden'] == True]

In [71]:
len(hate_speech1)

54

In [72]:
acc8 = hate_speech1['emotion:confidence'].mean()

In [73]:
print('Accuracy :{}'.format(round(acc8,3)))

Accuracy :0.564

## DBpedia quality assessment- datatypes

In [74]:
#DBpedia_interlinking_GS = pd.read_csv('10DBpedia_interlinking_GS.csv', encoding='Latin-1')

In [75]:
acc9 = 0.47
print('Accuracy :{}'.format(round(acc9,3)))

Accuracy :0.47

## DBpedia quality assessment - object values

In [76]:
#DBpedia_objects_GS = 
#pd.read_csv('11DBpedia_objects_GS.csv')#, encoding='Latin-1')

In [77]:
acc10 = 0.89
print('Accuracy :{}'.format(round(acc10,3)))

Accuracy :0.89

## DBpedia quality assessment - interlinks

In [78]:
#DBpedia_objects_GS = 
#pd.read_csv('11DBpedia_objects_GS.csv')#, encoding='Latin-1')

In [79]:
acc11 = 0.94
print('Accuracy :{}'.format(round(acc11,3)))

Accuracy :0.94

---
# Gathering accuracies

In [82]:
#aggregated_accuracy = pd.Series([acc1, acc2, acc3, acc4, acc5, acc6, acc7, acc8, acc9, acc10, acc11])
aggregated_accuracy = pd.Series([acc1, acc2, acc3, acc4, acc5, acc7, acc8, acc9, acc10, acc11])

In [83]:
aggregated_accuracy.describe()

count    10.000000
mean      0.752746
std       0.203203
min       0.408121
25%       0.598836
50%       0.854355
75%       0.896095
max       0.942389
dtype: float64